version: '3.8'

services:
  db:
    image: postgres:15
    container_name: lms_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: lms_worker
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: tail -f /dev/null

  server:
    build: .
    container_name: lms_server
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app/src
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uvicorn src.main_api:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data: