version: '3.8'

services:
  db:
    image: postgres:15
    container_name: lms_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: lms_app
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app 

volumes:
  postgres_data: